.p-fluid .p-inputtext{
    max-height: 26px;
    font-size: 12px;
    min-width: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
}

button[data-pc-section="filtermenubutton"]{
    width: 20px;
    margin: 0px;
    display: none;
}
button[data-pc-section="headerfilterclearbutton"]{
    display: none;
}

th{
    padding-left: 3px;
    padding-right: 3px;
}
