.p-button-label{
    font-size: 12px;
  
  }
  .p-buttonset .p-button:first-of-type{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .p-button{
    height: 12px;
  }
  .p-dropdown-label{
    font-size: 12px !important;
  }
  .p-dropdown {
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }